<!DOCTYPE html>
<html data-theme="night">
  <head>
    {% block head %}
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/style.css" />

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>

    <div class="hero min-h-screen bg-base-200">
      <main>{% block content %} {% endblock %}</main>
    </div>

    <footer id="footer">{% block footer %} {% endblock %}</footer>
  </body>
</html>
